<div *ngIf="currentContent">
  <mat-progress-bar mode="determinate" [value]="progress" (click)="seekAudio($event)"></mat-progress-bar>

  <div>{{ currentContent.title }}</div>

  <audio #audioPlayer (loadedmetadata)="onPlayerReady($event)" (timeupdate)="onTimeUpdate($event)" (ended)="onAudioEnded()">
  <source [src]="currentContent.link" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <button (click)="playContent(currentContent)">Play</button>
  <button (click)="audioPlayerRef.nativeElement.pause()">Pause</button>
  <button (click)="stopAudio()">Stop</button>
  <input type="range" min="0" max="1" step="0.1" [(ngModel)]="volume" (ngModelChange)="onVolumeChange($event)">

</div>
