.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: -webkit-fill-available; // Para manejar el viewport en iOS

    header {
        height: 72px;
        display: none;
    }

    content {
        flex-grow: 1;
        overflow-y: auto;
    }

    footer {
        height: auto;
    }
}