<div class="episode-grid">
    <ng-container *ngFor="let episode of episodes; let i = index">
        <div class="episode-item" (click)="onEpisodeClick(i)">
            <div class="episodio">{{ episode.episodio }}</div>
        </div>

        <div *ngIf="selectedIndex === i" class="episode-detail-row">
            <div class="titulo">{{ episode.titulo }}</div>
            <div class="likes">Likes: {{ episode.likes }}</div>
            <div class="descargas">Descargas: {{ episode.descargas }}</div>
            <div [innerHTML]="tracklistWithBreaks(episode.descripcion)" class="descripcion"></div>
        </div>
      </ng-container>
</div>