.episode-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 5px; /* Agrega un espacio entre las filas y columnas si es necesario */  
    .episode-item{
        display: grid;
        padding: 0;
        width: auto;
        transition: all 0.3s ease;
        position: relative;
        z-index: 1; /* Mantiene la celda en su plano original */
        cursor: pointer;
        height: 85px;
        align-content: center;
        .titulo{
            white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
        }
        .episodio{
            text-align: center;
        }
        .like{}
        .descargas{}
        .descripcion{}
    }
}

.episode-detail-row {
    grid-column: 1 / -1;
    transition: all 0.3s ease;
    padding: 30px 15px;
    .titulo{
        font-size: 2em;
        font-weight: 600;
    }
  }